* {
  font-size: 16px;
  margin   : 0;
  padding  : 0;
}

body {
  background-image: linear-gradient(90deg, #75A0B557 4%, rgba(170, 216, 220, .2) 4%), linear-gradient(360deg, #75A0B557 4%, rgba(170, 188, 220, .2) 4%);
  background-size : 35px 35px;
}
body,html,#root{
  height: 100%;
}

.clear::after {
  clear  : both;
  content: "";
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
}

button {
  background: none;
}